h1 {
    color: darkcyan
}
h2 {
    color: red
}
body { 
    background-color: goldenrod; 
}

button { 
    background-color: black; 
    color: goldenrod; 
    font-size: 11px; 
    border-radius: 8px; 
    border: 1px solid black; 
}
button:hover { 
    background-color: darkolivegreen; 
    color: whitesmoke; 
}
nameID { 
    color: burlywood
}